@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
height:100%;
font-family: 'Rubik','Roboto', sans-serif; }
a:link {
color: #000000;
text-decoration: none; }
a:hover {
color: #FB565A;  } 
.header {
position: absolute;
width: 1440px;
height: 545px;
left: 0px;
top: 0px;
background: #EEEEEE; }
.logo { 
width: 159.87px;
height: 65.02px;  }

.logo__header {
position: absolute;
left: 140px;
top: 48.98px;   }
.menu {
display: flex;
margin-top: 65px;
margin-left: 370px; }
.menu__item {
width: 63px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
margin: 30px;
display: inline;
align-items: center;
text-transform: uppercase;
color: #000000;
order: 0;
flex-grow: 0; 
}
.menu__item_last {
width: 200px;
height: 30px;
position: relative;
left: 120px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
margin: 30px;
display: inline;
align-items: center;
text-transform: uppercase;
color: #000000;
order: 0;
flex-grow: 0;   
}
.img {
padding-right:15px; 
}
.hone {
width: 538px;
height: 111px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 55px;
display: flex;
align-items: center;
color: #000000;
}
.header_hone {
position: absolute;
left: 140px;
top: 192px; }

.header_content {
position: absolute;
width: 400px;
height: 49px;
left: 140px;
top: 350px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #283136;   }
.banner {
position: absolute;
width: 760px;
height: 431px;
left: 537px;
top: 114px; }
.button {
width: 240px;
height: 50px;
background: #FB565A;
border-radius: 3px; }

.header__button {
position: absolute;
left: 140px;
top: 415px; }
.text_white {
width: 132px;
height: 18px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF; 
text-transform: uppercase;
}
.button__text {
position: absolute;
left:55px;
bottom: 15px; }
button:hover{
background: #56bcff; }
.section {
display: flex; }
.section__one {
display: flex; }
.htwo {
width: 138px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #000000; }
.section_htwo {
position: absolute;
left: 140px;
top: 780px;
}
 .device {
width: 300px;
height: 146px;
 }
 .section__deviceone {
position: absolute;
left: 140px;
top: 625px;}
 .content {
width: 260px;
height: 48px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #283136; }
.section__content {
position: absolute;
left: 140px;
top: 842px; }
.section__two {
display: flex; } 
.section__devicetwo {
position: absolute;
left: 540px;
top: 625px; }
.section_htwo_apps {
position: absolute;
left: 540px;
top: 780px; }
.section__content_two {
position: absolute;
left: 540px;
top: 842px;}
.button__section_one {
position: absolute;
width: 160px;
height: 50px;
left: 140px;
top: 922px;
background: #FB565A;
border-radius: 3px; }
.button__section_two {
position: absolute;
width: 160px;
height: 50px;
left: 540px;
top: 922px;
background: #00CA74;
border-radius: 3px; }
.button__section_three {
position: absolute;
width: 160px;
height: 50px;
left: 940px;
top: 922px;
background: #EFC849;
border-radius: 3px; }
.section__button_text {
margin-left: 34px;
margin-top: 5px; }
.section section__three {
display: flex; }
.section__devicethree {
position: absolute;
left: 940px;
top: 625px; }
.section_htwo_pre {
position: absolute;
left: 940px;
top: 780px; }
.section__content_three {
position: absolute;
left: 940px;
top: 842px; }
.button__section_three {
position: absolute;
width: 160px;
height: 50px;
left: 940px;
top: 922px;
background: #EFC849;
border-radius: 3px;  }

.main {
display: flex;
top:200%; }
.main__h {
position: absolute;
left: 9.72%;
right: 45.07%;
top: 154%; 
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 45px;
align-items: center; }
.main__content {
position: absolute;
left: 9.72%;
top: 170%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #283136; }
li {
list-style-type:none;
}
.main__ul {
position: absolute;
left: 9%;
top: 187%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
line-height: 24px;
color: #283136; 
line-height: 3;
}
.main__hthree {
position: absolute;
height: 24px;
left: 9.5%;
top:180%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
color: #283136; }

.main__li_line_one
{
position: absolute;
width: 25px;
height: 2px;
left:9.7%;
top: 192.3%;
background: #FB565A;
}
.main__li_line_two
{
position: absolute;
width: 25px;
height: 2px;
left:9.7%;
top: 199%;
background: #FB565A; }
.main__li_line_three {
position: absolute;
width: 25px;
height: 2px;
left:9.7%;
top: 205.7%;
background: #FB565A; }
.aside__banner_two {
position: absolute;
width: 360px;
height: 208px;
left: 940px;
top: 1093px; }
.grey_line {
width: 1158px;
height: 2px;
background: #EEEEEE; }
.grey_line_one {
position: absolute;
left: 141px;
top: 1010px; }  
.aside {
display: flex;
}
.aside__hthree {
position: absolute;
left: 67%;
right: 9.72%;
top: 188%;
bottom: 44.99%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.aside__text {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 64px;
color: #000000; }
.aside__text_one {
position: absolute;
top:190%;
left:67%;
}
.aside__text_mini{
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 40px;
color: #000000; }

.aside__text_mini_one {
position: absolute;
left: 72.5%;
top: 195.8%; }

.aside__text_lavel {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
align-items: center;
color: #283136; }

.aside__text_lavel_one {
position: absolute;
right: 40%;
top: 160%; }

.aside__text_two {
position: absolute;
top:-110%;
left:230%;
}
.aside__text_mini_two {
position: absolute;
left:122px;
top: -10%; }

.two_text {
 margin-top: 27px;
 margin-left: -70px; }
.aside__text_three {
position: absolute;
top:-100%;
left:200%; }
.aside__text_mini_three {
position: absolute;
left:100px;
top: -10%; 
}
.three_text {
position: absolute;
left: -50px;
top:70px; }
.grey_line_two {
position: absolute;
left: 141px;
top: 1550px; }
.grey_line_three {
position: absolute;
left: 141px;
top: 1850px; }
.article__img {
width: 199px;
height: 77px;
opacity: 0.2;
}
.article__img_one {
position: absolute;
left: 172px;
top: 1644px;
}
.article__img_two {
position: absolute;
left: 480px;
top: 1644px; }
.article__img_three {
position: absolute;
left: 780px;
top: 1644px; 
height: 57px;}
.article__img_four {
position: absolute;
left: 1080px;
top: 1644px; }

.maps {
position: absolute;
top: 1900px;
left:1px;
z-index:1; }
.header__contacts {
left: 9.72%; }
.header__contacts__img {
position: absolute;
width: 319px; 
height: 308px;
top: 1960px;
left:10%;
z-index:3; }
.footer__h {
position: absolute;
left: 15%;
top: 2020px;
bottom: 68.03%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #000000;
z-index: 5; }
.header__contacts__text {
position: absolute;
left: 15%;
top: 2100px;
z-index: 4;
bottom: 45.26%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #666666; }

.button__footer {
position: absolute;
top: 2180px;
left:13%;
z-index:6; }

.footer__text_last_one {
position: absolute;
width: 660px;
height: 36px;
left: 540px;
top: 2360px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
}
.footer__text_last_two {
position: absolute;
width: 600px;
height: 22px;
left: 540px;
top: 2415px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
color: #444444;
}

.vkontakte_icone {
position: absolute;
width: 60px;
height: 60px;
left: 268px;
top: 2350px;
